{
  "parser": "babel-eslint",
  "env": {
    "es6": false,
    "browser": true,
    "node": true
  },
  "rules": {
    "arrow-parens": "off",
    "comma-dangle": "off",
    "linebreak-style": "off",
    "require-jsdoc": "off",
    "operator-linebreak": "off",
    "no-console": "off",
    "no-trailing-spaces": "off"
  },
  "extends": ["eslint:recommended", "google"]
}
